@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto_light/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto_medium/Roboto_Medium-webfont.eot');
    src: url('../fonts/roboto_medium/Roboto_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_medium/Roboto_Medium-webfont.woff') format('woff'),
         url('../fonts/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto_medium/Roboto_Medium-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed';
    src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
