body{
	font-family: robotolight;
}

.roboto-light {
    font-family: robotolight;
}

.roboto-medium {
    font-family: robotomedium;
}

.roboto-regular {
    font-family: robotoregular;
}

.roboto-condensed {
    font-family: robotocondensed;
}

i {margin-right:5px;}

.cd-container p{
font-family: robotolight;
}

.cd-container h2{
font-family: robotocondensed;
}

.cd-container span{
	font-family: robotocondensed;
	font-weight:bold;
}

.cd-container p{
font-family: robotoregular;
}


